 /* 본문 섹션 */
 .greeting-section {
   padding: 60px;
 }

 .section-container {
   display: flex;
   gap: 60px;
   max-width: 1100px;
   margin: 0 auto;
 }

 /* 왼쪽 (스티키) */
 .greeting-section .left {
   flex: 1;
   position: sticky;
   top: 100px;
   align-self: flex-start;
 }

 .greeting-section h2 {
   font-size: 36px;
   font-weight: 900;
   margin-bottom: 20px;
 }

 .intro {
   font-size: 18px;
   font-weight: 600;
   line-height: 1.8;
 }

 /* 오른쪽 (스크롤 내용) */
 .right {
   flex: 2;
 }

 .greeting-section .ceo-info {
   display: flex;
   gap: 40px;
   margin-bottom: 16px;
   margin-right: 24px;
   float: left;

 }

 .greeting-section .person {
   text-align: center;
 }

 .greeting-section .person p {
   font-weight: bold;
   margin-bottom: 10px;
 }

 .greeting-section .person img {
   max-width: 150px;
   border-radius: 100px;
   display: block;
   margin: 0 auto;
 }

 /* 본문 텍스트 */
 .greeting-section .content p {
   font-size: 16px;
   line-height: 1.9;
   text-align: justify;
 }

 /* 2025.10.15 반응형 추가 */
@media (max-width: 768px) {

  .greeting-section {
    padding: 40px 20px !important;
  }

  .section-container {
    display: flex !important;
    flex-direction: column !important;
    gap: 40px !important;
    max-width: 100% !important;
  }

  .greeting-section .left {
    position: static !important;
    flex: none !important;
    margin: 22px 38px !important;
    display: flex !important;
    flex-direction: column !important;
    
  }

   .greeting-section h2 {
    font-size: 36px !important;
    font-weight: 900 !important;
    margin-bottom: 4px !important;
    line-height: 1.4 !important;
  }

  .intro {
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 1.8 !important;
  }

  .right {
    flex: none !important;
    width: 100% !important;
  }

  .greeting-section .ceo-info {
    align-items: center !important;
    justify-content: center !important;
    gap: 24px !important;
    margin-bottom: 24px !important;
    margin-right: 0 !important;
    float: none !important;
  }

  .greeting-section .content p {
    font-size: 16px !important;
    line-height: 1.8 !important;
    text-align: left !important;
  }
}