/* 제품 상세페이지 */
.product-section {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 0 20px;
}

.product-section img {
    width: 400px;
    max-width: 100%;
    border: 1px solid #ccc;
}

.product-text h2 {
    font-size: 48px;
    margin-bottom: 15px;
}

.product-text h3 {
    font-size: 36px;
    margin-bottom: 15px;
    color: #555;
}

.product-text p {
    font-size: 20px;
    line-height: 1.6;
}

/* 모바일 반응형 */
@media (max-width: 768px) {
    .product-section {
        flex-direction: column;
        text-align: left;
        gap: 30px;
    }

    .product-section img {
        width: 200px;
    }

    .product-text h2 {
        font-size: 22px;
    }

    .product-text h3 {
        font-size: 18px;
    }

    .product-text p {
        font-size: 14px;
    }
}

.productchapter {
    display: flex;
    justify-content: center;
    /* 가로 가운데 */
    align-items: center;
    /* 세로 가운데 (부모 높이가 있을 때) */
    padding: 56px;
}

.productchapter img {
    max-width: 110%;
    /* 반응형 */
    height: auto;
}

@media (max-width: 768px) {
    .productchapter {
        padding: 0px;
    }
}